$btn-login-color: #6ae1fe;

.navbar-container {
  position: fixed;
  z-index: 1;

  .bg-home {
    width: 24%;
    max-width: 350px;
    min-width: 275px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
  }

  .navbar-home__link {
    &:hover {
      cursor: pointer;
    }
  }

  .navbar-home__title {
    font-weight: bolder;
    color: aliceblue;
    font-size: 1.3rem;
  }
}

.navbar-logo {
  display: flex;
  width: 5rem;
  height: 5rem;

  .navbar-logo__1 {
    width: 100%;
  }
}

.menu-link {
  font-weight: bolder;
}

.scroll-link {
  font-size: 1.3rem;

  &:hover {
    color: $btn-login-color;
    cursor: pointer;
  }

  .active {
    border-bottom: 3px solid $btn-login-color;
  }
}

.btn-login {
  width: 12rem;
  color: $btn-login-color;

  &:hover {
    background-color: $btn-login-color;
  }
}
